<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Content-Language" content="en"/>
    <meta name="msapplication-TileImage" content="images/fav/ms-icon-144x144.png">
    <meta name="theme-color" content="#0D242A">
    <meta name="msapplication-TileColor" content="#">
    <meta name="theme-color" content="#fff">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="description" content="MyRIOI ">
    <meta name="Keywords" content="Business, myrioi, talent, management">
     <!-- metadata used when your app is installed on a mobile device -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <title>TMA Contract</title>

    <!--w -->
    <meta property="og:site_name" content="tma.myrioiapps.com">
    <meta property="og:title" content="MYRIOI Contract" />
    <meta property="og:description" content="Contract from MYRIOI TMP platform" />
    <meta property="og:image" itemprop="image" content="">
    <meta property="og:type" content="website" />

  </head>
  <body class="body">
    
   <section>
       <h1>MY RIOI Template</h1>
       <h4><%= businessName %> dd</h4>
   </section>

  </body>
</html>
