node_modules
env.txt
server-data.txt
**/env.txt
**/server-data.txt
.DS_store
./.DS_store
.env
*.txt
*.env
./auth/*.env
./common/*.env
./resource/*.env
auth/env
common/env
resource/env
**/.txt

**/auth/node_modules
**/common/node_modules
**/resource/node_modules
**/blog/node_modules
**/vace/node_modules
./auth/node_modules
./common/node_modules
./blog/node_modules
./resource/node_modules
./vace/node_modules